* {
  font-family: sans-serif;
}

html {
  background-color: #dddddd
}


header img {
  border-radius: 50%;
  margin-right: 30px;
}

h1 {
  margin-top: 60px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 25px;
}

.nav ul {
  list-style: none;
  justify-content: center;
  display: flex;
  margin: 25px;
}

.nav li {
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.social_links {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 70px;
}

body img {
  margin-left: 20px;
  margin-right: 20px;
}

main {
  margin-top: 100px;
}

.about_section,
.it_experience,
.logistics_experience,
.saas_experience {
  width: 80vw;
  border-radius: 10px;
  background-color: white;
  margin: 20px 10%;
  padding: 20px;
}

.about_section {
  text-align: center;
}

.contact_section {
  margin-top: 50px;
  text-align: center;
}

input {
  margin: 5px auto;
}

textarea {
  margin: 5px auto;
}

footer {
  text-align: center;
  margin-top: 200px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

form {
  display: flexbox;
  text-align: center;
}

.contact-header {
  text-align: center;
  margin-bottom: 50px;
}

.contact-name,
.contact-email,
.contact-message,
.contact-btn {
  margin: 10px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin: 25px;
}

.gallery::after {
  content: "";
  width: 350px;
}

.resume {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

.document {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #fff;
  padding: 20px;
}

.document .section_head {
  text-align: left;
  border-bottom: 2px solid black;
}

.duties {
  text-align: left;
}

.company_title {
  float: left;
  font-size: .9em;
}

.dates_location {
  float: right;
  font-size: .9em;
}

.duties {
  padding-top: 90px;
}

.duties li {
  padding-top: 2px;
  font-size: .9em;
}